.Task-container {
    border: black 1px solid;
    border-radius: 7px;
    min-width: 70vmin;
    max-width: 100vmax;
    /*max-width: 100%;*/
    min-height: 15vh;
    margin: 0.5vh 0;
}

.Task-detail {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-top: 1px solid grey;
}

.Task-status {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: 1px solid grey;
}
